@import "compass";
@import "animation";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

// For making a keyframe animation
@mixin keying($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keying(gear-icon) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@include keying(pencil-brush) {
  0% {
    fill: #4da0f5;
  }
  20% {
    fill: #f54da4;
  }
  40% {
    fill: #94f54d;
  }
  60% {
    fill: #f5804d;
  }
  80% {
    fill: #e74df5;
  }
  100% {
    fill: #4da0f5;
  }
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
}

* {
  @include box-sizing(border-box);
}

a {
  color: #428bca;
  text-decoration: none;
}

.main-article {
  height: 100%;
  width: 100%;

  .content-container {
    max-width: 820px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    .left-column,
    .right-column {
      display: block;
      width: 100%;
      vertical-align: top;
      padding: 20px;
      @media #{"only screen and (min-width : 550px)"} {
        display: inline-block;
        width: 50%;
      }
    }
    .left-column {
      @media #{"only screen and (min-width : 550px)"} {
        padding: 0 25px 0 50px;
      }
    }
    .right-column {
      @media #{"only screen and (min-width : 550px)"} {
        padding: 0 50px 0 25px;
      }
    }


  }

  .header {
    background: {
      image: url(../images/bg.jpg);
      size: 200%;
      position: -100px 0;
      attachment: fixed;
      repeat: no-repeat;
    }
    width: 100%;
    height: 100%;
    overflow: hidden;
    @media #{"only screen and (min-width : 440px)"} {
      background: {
        image: url(../images/bg.jpg);
        size: cover;
        position: 0 0;
        attachment: fixed;
      }
    }

    .buzzwords {
      color: white;
      margin: 40px auto 0 auto;
      font-size: 12px;
      position: absolute;
      width: 100%;
      top: 250px;
      text-align: center;
      @media #{"only screen and (min-width : 444px)"} {
        top: 300px;
        font-size: 16px;
      }
      @media #{"only screen and (min-width : 820px)"} {
        top: 400px;
        font-size: 24px;
      }
      &:before {
        content: "DESIGN. UTVIKLING. RESPONSIVT. VISUELT. HTML. CSS. JAVASCRIPT.";
        text-transform: uppercase;
        font-weight: 300;
      }
    }

    .scroll-down {
      @include border-radius(50%);
      border: 1px solid white;
      position: absolute;
      bottom: 10%;
      left: 50%;
      margin-left: -29px;
      background-color: transparent;
      outline: none;
      @media #{"only screen and (min-width : 440px)"} {
        margin-left: -40px;
      }

      .down-icon {
        color: white;
        font-size: 20px;
        vertical-align: middle;
        padding: 19px 4px;
        @media #{"only screen and (min-width : 440px)"} {
          padding: 20px 17px;
          font-size: 30px;
        }
      }
      @media #{"only screen and (min-width : 440px)"} {
        &:active {
          &:hover {
            &:after {
              content: "";
              visibility: visible;
              width: 60%;
              height: 60%;
              top: 20%;
              left: 20%;
              opacity: 1;
              @include transition(all 100ms ease-in-out);
            }
          }
        }

        &:after {
          content: "";
          position: absolute;
          background-color: rgba(255,255,255,0.1);
          width: 200%;
          height: 200%;
          opacity: 0;
          @include border-radius(50%);
          top: -50%;
          left: -50%;
          visibility: hidden;
          @include transition(all 300ms ease-in-out);
        }

        &:hover {
          &:after {
            content: "";
            visibility: visible;
            width: 80%;
            height: 80%;
            top: 10%;
            left: 10%;
            opacity: 1;
            @include transition(all 300ms ease-in-out);
          }
        }
      }
    }

    .main-header {
      position: absolute;
      width: 100%;
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      line-height: 1.1;
      margin: 100px 0 0 0;
      padding: 0;

      .searching-for {
        position: absolute;
        width: 100%;
        left: 0;
        font-size: 16px;
        font-weight: 100;
        @media #{"only screen and (min-width : 444px)"} {
          font-size: 20px;
        }
        @media #{"only screen and (min-width : 820px)"} {
          font-size: 24px;
        }
      }

      .searching {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        word-wrap: break-word;
        padding: 10px 10px 30px 10px;
        @media #{"only screen and (min-width : 444px)"} {
          font-size: 40px;
        }
        @media #{"only screen and (min-width : 549px)"} {
          font-size: 50px;
        }
        @media #{"only screen and (min-width : 820px)"} {
          font-size: 72px;
          padding: 10px 10px 80px 10px;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          height: 4px;
          width: 15%;
          left: 50%;
          margin-left: -7.5%;
          background-color: white;

        }
      }
    }
  }
  .section {
    padding: 40px 0;

    &.about-nettavisen,
    &.about-application {
      background-color: #f2f2f2;
    }

    .section-header {
      color: #16254c;
      letter-spacing: 2px;
      font-weight: 300;
      font-size: 22px;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      margin: 0;
      padding: 0 20px 40px 20px;
      @media #{"only screen and (min-width : 444px)"} {
        font-size: 34px;
        padding: 26px 0 100px 0;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 30%;
        height: 4px;
        width: 15%;
        left: 50%;
        margin-left: -7.5%;
        background-color: #16254c;
        @media #{"only screen and (min-width : 444px)"} {
          bottom: 30%;
        }
      }
    }

    .left-column,
    .right-column {
      .symbol {

        border: 2px solid #16254c;
        margin: 0 auto 20px auto;
        position: relative;
        width: 65px;
        height: 65px;
        @media #{"only screen and (min-width : 444px)"} {
          width: 130px;
          height: 130px;
        }
        @include border-radius(50%);
        &.pencil-symbol {
          background: {
            image: url(../images/pensel-hode.jpg);
            repeat: no-repeat;
            position: 10px 14px;
            size: 40px 36px;
          }
          @media #{"only screen and (min-width : 444px)"} {
            background: {
              size: 79px 71px;
              position: 24px 28px;
            }
          }
          .pencil-brush {
            position: absolute;
            top: 26px;
            left: 2px;
            @include transform(scale(0.5));

            @media #{"only screen and (min-width : 444px)"} {
              top: 67px;
              left: 26px;
              @include transform(scale(1));
            }
            path {
              @include animation(pencil-brush 10s infinite linear);
            }
          }
        }
        &.gear-symbol {
          .gear-icon {
            position: absolute;
            background: {
              image: url(../images/nav.jpg);
              repeat: no-repeat;
              size: 100%;

            }
            top: 50%;
            left: 50%;

            width: 34px;
            height: 34px;
            margin-top: -17px;
            margin-left: -17px;

            @include animation(gear-icon 5s infinite linear);
            @media #{"only screen and (min-width : 444px)"} {
              width: 68px;
              height: 68px;
              margin-top: -34px;
              margin-left: -34px;
            }
          }
        }
      }
      .section-sub-header {
        text-transform: uppercase;
        font-weight: 700;
        color: #454545;
        font-size: 20px;
        padding: 16px 0 10px 0;
        border-top: 1px solid rgba(0,0,0,0.3);

      }
      .section-sub-paragraph {
        color: #666666;
        font-size: 14px;
        text-align: left;
      }
    }

    .section-paragraph {
      color: #16254c;
      font-weight: 400;
      font-size: 14px;
      margin: 0 0 10px;
      text-align: center;
      padding: 20px;
      @media #{"only screen and (min-width : 444px)"} {
        font-size: 18px;
      }
    }
  }
}